{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<style>
    *{
        font-family: 'Alkatra', cursive;
    }
    #welcome{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 30px;
      }
      
    #welcome h1:nth-child(1) {
        color: #189ab4;
        font-family: 'Alkatra', cursive;
        font-weight: 800;
        font-size: 25px;
        margin: 0 0 0 35%;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        width: 170px;
        animation: type 2.2s steps(40,end) forwards;
      }
      
    #welcome h1:nth-child(2) {
        opacity: 0;
        font-family: 'Alkatra', cursive;
        margin: 0 auto auto auto;
        background: linear-gradient(to right, #92b8db, #189ab4, #92b8db);
        font-weight: 800;
        font-size: 50px;  
        width: 430px;
        -webkit-background-clip : text;
        -webkit-text-fill-color: transparent;
        overflow: hidden;
        animation: shring-animation 2.2s steps(45,end) 2s forwards, blink .5s step-end infinite alternate;
      }
      
    @keyframes shring-animation {
        0% {
          background-position: 0 0;
          opacity: 0;
          width: 0;
        }
        1% {
          background-position: 0 0;
          opacity: 1;
          border-right: 1px solid transparent;
        }
        50% {
          background-position: 150px 0;
          opacity: 1;
          border-right: 1px solid transparent;
        }
        100% {
          background-position: 400px 0;
          opacity: 1;
          border-right: 1px solid transparent;
        }
      }
      
    @keyframes type {
        0% {
          width: 0;
        }
        1%, 99%{
          border-right: 1px solid transparent;
        }
        100%{
          border-right: none;
        }
      }
      
    @keyframes blink {
        50% {
          border-color: transparent;
        }
      }
</style>
<div id="welcome">
    <h1>Reset </h1>
    <h1>password</h1>
</div>
<form method="post">
    
    {{form_start(passForm)}}
        {{form_row(passForm.password)}}
        <button type="submit" class="btn btn-primary mt-3">Send </button>
    {{form_end(passForm)}}
</form>
{% endblock %}
